$activityTextSize       : 20px;
$red                    : #D0021B;
$blue                   : #02A3D0;
$handleWidth            : 60;
$handleHeight           : 46;
$scaleRadius            : 22px;
$sine                   : cubic-bezier(0.39, 0.58, 0.57, 1);

/**
	zIndex:
	- image 0
	- value 10
	- scale 20
		• line 0
		• handle 10
	- rate 20
*/

.vote {
	position: relative;
	&-main {
		position: relative;
		max-height: 90vh;
		overflow: hidden;
		background-color: #ddd;
	}
	&-scale {
		position: absolute;
		z-index: 20;
		bottom: 34px;
		right: 35px;
		left: 35px;
		height: 22px;
		opacity: 0.66;
		transition: opacity 1000ms ease;
		&__inner {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: $scaleRadius;
			overflow: hidden;
		}
		&__line {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: $scaleRadius;
			z-index: 0;
			top: 0;
			background: rgba(255, 255, 255, 0.79);
			opacity: 0.79;
			transition: opacity 1000ms ease, background-color 1000ms ease;
		}
		&__handle {
			display: block;
			position: absolute;
			top: 50%;
			z-index: 10;
			margin-top: -($handleHeight / 2) + px;
			width: ($handleWidth) + px;
			height: ($handleHeight) + px;
			background-color: white;
			border-radius: 10px;
			cursor: pointer;
			//transition: 1000ms $sine;
			box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.07);
			&.left {
				left: 0;
				margin-left: -($handleWidth / 2) + px;
			}
			&.right {
				right: 0;
				margin-right: -($handleWidth / 2) + px;
			}
		}
	}
	&-value {
		font-size: 3em;
		position: absolute;
		z-index: 10;
		left: 34px;
		bottom: 80px;
		margin: 0;
		color: white;
		&::after {
			content: '%';
			position: absolute;
			top: 4px;
			right: -25px;
			font-size: 0.5em;
		}
		opacity: 0;
		transform: translateY(10px);
	}
	&-image {
		position: relative;
		z-index: 0;
		padding-bottom: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0%;
		background-size: cover;
		max-height: 90vh;
		&::before,
		&::after {
			transition: 1000ms cubic-bezier(0.4, 0, 1, 1);
		}
		&::after {
			content: '';
			position: absolute;
			top: 25%;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			opacity: 0.29;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.38;
		}
	}
	&-rate {
		position: absolute;
		left: 34px;
		right: 34px;
		bottom: 34px;
		z-index: 20;
		&__list {
			text-align: center;
			margin: 0;
			padding: 0 30px;
			list-style-type: none;
			display: flex;
			flex-wrap: nowrap;
			&.ltr {
				direction: ltr;
			}
		}
		&__item {
			display: inline-block;
			padding: 10px 5px;
			@for $i from 1 through 20 {
				&:nth-child(#{$i}) svg.active {
					transition-delay: $i * 50 + ms;
					animation-delay: $i * 50 + ms;
				}
			}
		}
		.star {
			cursor: pointer;
			display: block;
			width: 100%;
			opacity: 0.5;
		}
		.star.active {
			transition-timing-function: ease;
			transition-duration: 250ms;
			opacity: 1;
			animation: scaleBounce 250ms ease;
		}
		@keyframes scaleBounce {
			50% {
				transform: scale(1.35);
			}
		}
	}
	// NOTE: Enable play
	&.enable-play {
		.vote-scale {
			opacity: 1;
		}
		.vote-scale__line {
			background: $blue;
			opacity: 1;
		}
		.vote-value {
			opacity: 1;
			transform: translateY(0);
			transition: 400ms $sine 900ms;
		}
	}
}