$activityTextSize       : 20px;
$red                    : #D0021B;
$blue                   : #02A3D0;
$handleWidth            : 60;
$handleHeight           : 46;
$scaleRadius            : 22px;
$sine                   : cubic-bezier(0.39, 0.58, 0.57, 1);

/**
	zIndex:
	- image 0
	- value 10
	- scale 20
		• line 0
		• handle 10
	- rate 20
	- done 30
*/

.vote {
	position: relative;
	pointer-events: none;
	&-main {
		position: relative;
		max-height: 90vh;
		overflow: hidden;
		background-color: #ddd;
	}
	&-scale {
		position: absolute;
		z-index: 20;
		bottom: 34px;
		right: 35px;
		left: 35px;
		height: 22px;
		opacity: 0.66;
		transition: opacity 1000ms ease;
		&__inner {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: $scaleRadius;
			overflow: hidden;
		}
		&__line {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: $scaleRadius;
			z-index: 0;
			top: 0;
			background: rgba(255, 255, 255, 0.79);
			opacity: 0.79;
			transition: opacity 1000ms ease, background-color 1000ms ease;
		}
		&__handle {
			display: block;
			position: absolute;
			top: 50%;
			z-index: 10;
			margin-top: -($handleHeight / 2) + px;
			width: ($handleWidth) + px;
			height: ($handleHeight) + px;
			background-color: white;
			border-radius: 10px;
			cursor: pointer;
			//transition: 1000ms $sine;
			box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.07);
			&.left {
				left: 0;
				margin-left: -($handleWidth / 2) + px;
			}
			&.right {
				right: 0;
				margin-right: -($handleWidth / 2) + px;
			}
		}
	}
	&-value {
		font-size: 3em;
		position: absolute;
		z-index: 10;
		right: 60px;
		bottom: 80px;
		margin: 0;
		color: white;
		&::after {
			content: '%';
			position: absolute;
			top: 4px;
			right: -25px;
			font-size: 0.5em;
		}
		opacity: 0;
		transform: translateY(10px);
	}
	&-image {
		position: relative;
		z-index: 0;
		padding-bottom: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0%;
		background-size: cover;
		max-height: 90vh;
		&::before,
		&::after {
			transition: 1000ms cubic-bezier(0.4, 0, 1, 1);
		}
		&::after {
			content: '';
			position: absolute;
			top: 25%;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			opacity: 0.29;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.38;
		}
	}
	&-rate {
		position: absolute;
		left: 34px;
		right: 34px;
		bottom: 34px;
		z-index: 20;
		&__list {
			text-align: center;
			margin: 0;
			padding: 0 30px;
			list-style-type: none;
			display: flex;
			flex-wrap: nowrap;
			&.ltr {
				direction: ltr;
			}
		}
		&__item {
			display: inline-block;
			padding: 10px 5px;
			@for $i from 1 through 20 {
				&:nth-child(#{$i}) .star.active {
					transition-delay: $i * 50 + ms;
					animation-delay: $i * 50 + ms;
				}
			}
		}
		.star {
			cursor: pointer;
			display: block;
			width: 100%;
			opacity: 0.5;
			fill: rgba(255, 255, 255, 0.79);
		}
		.star.active {
			transition-timing-function: ease;
			transition-duration: 250ms;
			animation-duration: 250ms;
			animation-timing-function: ease;
		}
	}
	&-button {
		&__wrap {
			min-height: 82px;
			padding: 20px;
			text-align: center;
		}
		display: inline-block;
		background: $blue;
		border: none;
		text-align: center;
		color: white;
		padding: 12px 6px;
		min-width: 120px;
		outline: none;
		transition: 250ms ease;
		cursor: pointer;
		border-radius: 4px;
		box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0);
		&:hover {
			background: lighten($blue, 5%);
		}
		&:active {
			background: darken($blue, 5%);
		}
		&:disabled {
			background: transparentize($blue, 1);
			opacity: 0.5;
			box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0.35);
		}
	}
	&-done {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 30;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: white;
		&__text {
			padding-top: 50px;
			font-size: 72px;
			overflow: hidden;
			padding-left: 0.5em;
			direction: ltr;
			span:not(.percent) {
				display: inline-block;
				transform: translateY(100%);
				opacity: 0;
				transition: 300ms ease-in;
				@for $i from 0 to 5 {
					&:nth-child(#{$i}) {
						transition-delay: $i * 100 + ms;
					}
				}
			}
			.animate & {
				span:not(.percent) {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
	// NOTE: Enable play;
	&.enable-play {
		pointer-events: auto;
		.vote-scale {
			opacity: 1;
		}
		.vote-scale__line {
			background: $blue;
			opacity: 1;
		}
		.vote-value {
			opacity: 1;
			transform: translateY(0);
			transition: 400ms $sine 900ms;
		}
		.vote-rate {
			.star {
				fill: rgba(241, 196, 15, 1);
				&.active {
					opacity: 1;
					animation-name: scaleBounce;
				}
			}
		}
	}
}

.percent {
	display: inline-block;
	position: relative;
	//margin-right: -0.5em;
	left: -0.75em;
	width: 1em;
	height: 0.75em;
	transform: skewX(-25deg) scaleY(0);
	transition: 500ms ease 400ms;
	&-part {
		position: absolute;
		width: 100%;
		height: 0.75em;
		overflow: hidden;
		&::before {
			content: '%';
			display: block;
			position: absolute;
			right: 0;
			top: -0.05em;
			transition: 300ms ease 900ms;
			height: 100%;
		}
		&:first-child {
			//transform: skewX(-25deg);
			border-right: 0.1em solid white;
			&::before {
				transform: skewX(27deg) translateX(100%) translateY(50px);
			}
		}
		&:last-child {
			transform: translateX(100%);
			&::before {
				transform: skewX(27deg) translateX(-100%) translateY(-50px);
			}
		}
	}
	.animate & {
		transform: skewX(-25deg) scaleY(1);
		.percent-part {
			&:first-child {
				&::before {
					//transform: skewX(27deg) translateX(60%) translateY(-10px);
					transform: skewX(27deg) translateX(0.49em) translateY(-0.11em);
				}
			}
			&:last-child {
				&::before {
					//transform: skewX(27deg) translateX(-62%) translateY(-10px);
					transform: skewX(27deg) translateX(-0.65em) translateY(-0.15em);
				}
			}
		}
	}
}

@keyframes scaleBounce {
	50% {
		transform: scale(1.35);
	}
}

// - fade
.fade-enter-active, .fade-leave-active {
	transition: 400ms cubic-bezier(0.24, 0.71, 0.57, 0.96);
}
.fade-leave-to {
	transform: scale(1.15);
	transition: 600ms cubic-bezier(0.24, 0.71, 0.57, 0.96);
	//transform: translate(-400px, 1.5px) rotate(-40deg);
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}