@import '../../node_modules/normalize.css/normalize.css';
//@import '../../node_modules/aos/dist/aos.css';
//@import '../../node_modules/vanilla-js-carousel/vanilla-js-carousel.css';
//@import '../../node_modules/flickity/css/flickity.css';
@import '../mixins';


// HELPERS

body {
	padding: 20px;
}

* {
	box-sizing: border-box;
}




$activityTextSize: 20px;
$red: #D0021B;
$blue: #02A3D0;
$handleWidth: 60;
$handleHeight: 46;
$sine: cubic-bezier(0.39, 0.58, 0.57, 1);

.activity, .tab {
	position: relative;
	display: block;
	width: 469px;
	max-width: 100%;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
	border-radius: 4px;
	font-family: Arial, sans-serif;
}

/**
	zIndex:
	- image 0
	- value 10
	- scale 20
		• line 0
		• result 10
		• handle 20
*/

.slider {
	position: relative;
	&-main {
		position: relative;
		max-height: 90vh;
		overflow: hidden;
		background-color: #ddd;
	}
	&-scale {
		position: absolute;
		z-index: 20;
		top: 42px;
		bottom: 34px;
		right: 35px;
		width: 22px;
		opacity: 0.66;
		transition: opacity 1000ms ease;
		&__inner {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 22px;
			overflow: hidden;
		}
		&__line,
		&__result {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 22px;
		}
		&__line {
			z-index: 0;
			top: 0;
			background: rgba(255, 255, 255, 0.79);
			opacity: 0.79;
			transition: opacity 1000ms ease, background-color 1000ms ease;
		}
		&__result,
		&__handle {
			transition: 1000ms $sine;
		}
		&__result {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			z-index: 10;
			background-color: $red;
			transform: scaleY(0);
			transform-origin: 50% 100%;
		}
		&__handle {
			display: block;
			position: absolute;
			z-index: 20;
			left: 50%;
			margin-left: -($handleWidth / 2) + px;
			width: ($handleWidth) + px;
			height: ($handleHeight) + px;
			background-color: white;
			border-radius: 10px;
			cursor: pointer;
			&.bottom {
				bottom: 0;
				margin-bottom: -($handleHeight / 2) + px;
			}
			&.top {
				top: 0;
				margin-top: -($handleHeight / 2) + px;
			}
		}
	}
	&-value {
		font-size: 3em;
		position: absolute;
		z-index: 10;
		left: 20px;
		bottom: 20px;
		margin: 0;
		color: white;
		&::after {
			content: '%';
			position: absolute;
			top: 4px;
			right: -25px;
			font-size: 0.5em;
		}
		opacity: 0;
		transform: translateY(10px);
	}
	&-image {
		position: relative;
		z-index: 0;
		padding-bottom: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0%;
		background-size: cover;
		max-height: 90vh;
		&::before,
		&::after {
			transition: 1000ms cubic-bezier(0.4, 0, 1, 1);
		}
		&::after {
			content: '';
			position: absolute;
			top: 25%;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			opacity: 0.29;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.38;
		}
		&.results-active {
			&::after {
				top: 0;
				right: 0;
				left: 40%;
				background-image: linear-gradient(to right , rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			}
			&::before {
				opacity: 0;
				transition: background-color 300ms ease, opacity 1000ms ease;
			}
			&.more::before {
				background: $blue;
				
			}
			&.less::before {
				background: $red;
			}
		}
	}
	// NOTE: Enable play
	&.enable-play {
		.slider-scale {
			opacity: 1;
		}
		.slider-scale__line {
			background: $blue;
			opacity: 1;
		}
		.slider-scale__result {
			transform: scaleY(1);
		}
		.slider-image.results-active::before {
			opacity: 0.38;
		}
		.slider-value {
			opacity: 1;
			transform: translateY(0);
			transition: 400ms $sine 900ms;
		}
	}
}


// Game animations

// - fade
.fade-enter-active, .fade-leave-active {
	transition: 400ms cubic-bezier(0.24, 0.71, 0.57, 0.96);
}
.fade-leave-to {
	transform: scale(1.15);
	transition: 600ms cubic-bezier(0.24, 0.71, 0.57, 0.96);
	//transform: translate(-400px, 1.5px) rotate(-40deg);
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

// - fade left
.fadeLeft-enter-active, .fadeLeft-leave-active {
	transition: transform 3000ms cubic-bezier(0.24, 0.71, 0.57, 0.96), opacity 3000ms cubic-bezier(0.24, 0.71, 0.57, 0.96) !important;
}
.fadeLeft-leave-to {
	transform: translate(-400px, 1.5px) rotate(-40deg) !important;
}
.fadeLeft-enter, .fadeLeft-leave-to {
	opacity: 0 !important;
}

// - fade right
.fadeRight-enter-active, .fadeRight-leave-active {
	transition: transform 3000ms cubic-bezier(0.24, 0.71, 0.57, 0.96), opacity 3000ms cubic-bezier(0.24, 0.71, 0.57, 0.96) !important;
}
.fadeRight-leave-to {
	transform: translate(400px, 1.5px) rotate(40deg) !important;
}
.fadeRight-enter, .fadeRight-leave-to {
	opacity: 0 !important;
}

// - fade in
.fadeIn-enter-active,
.fadeIn-leave-active {
	transition:
			transform 1000ms cubic-bezier(0.24, 0.71, 0.57, 0.96),
			opacity 1000ms cubic-bezier(0.24, 0.71, 0.57, 0.96);
}
.fadeIn-leave-to {
	transform: scale(1);
}
.fadeIn-enter,
.fadeIn-leave-to {
	opacity: 0;
	transform: scale(1.2);
}

@keyframes moveLeft {
	50% {
		transform: translateX(-7px);
	}
}

@keyframes moveRight {
	50% {
		transform: translateX(7px);
	}
}